{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/detail.html.twig" %}

{% block content_anchor %}{% endblock %}
{% block content_url %}{% endblock %}
{% block content_historic %}{% endblock %}
{% block content_admin %}{% endblock %}

{% block content_data %}
    <div class="row card">
        {{ render(path("fhm_api_card_editor",{id:object.getId(), template:'M001'})) }}
    </div>
{% endblock %}
