{% trans_default_domain instance.domain %}
{% extends "::layout.integration.html.twig" %}

{% block tagline %}
    <div class="row">
        <h1>Integration default template</h1>
    </div>
{% endblock %}