{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Front/detail.html.twig" %}

{% block tagline_title %}
    {{ parent() }}
    <h2>{{ object.getSubTitle() }}</h2>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-567035a40426c814" async="async"></script>
{% endblock %}

{% block content_data %}
    {% include "::FhmNews/Template/full.html.twig" %}
{% endblock %}