{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Front/detail.html.twig" %}
{% import "::Macros/dd.card.html.twig" as macroTree %}

{% block content_link_data %}
    {{ parent() }}
    {% include "::FhmCard/Api/menu.html.twig" %}
{% endblock %}

{% block content_data %}
    <div class="row">
        {#{{ macroTree.front(tree, treemap, document, modules, categories, instance.translation ~ '.admin.detail.menu', instance) }}#}
    </div>
    {{ parent() }}
{% endblock %}