{% extends "::layout.front.html.twig" %}

{% block content %}
    <div class="fhm-error">
        <div class="content">
            <h1>{{ 'error.500.title'|trans({},'FhmErrorBundle') }}</h1>

            <p>{{ 'error.500.page'|trans({},'FhmErrorBundle') }}</p>
            <a href="{{ path('project_home') }}" class="button">
                <i class="fa fa-home"></i> {{ 'project.home.link'|trans({},'ProjectDefaultBundle') }}
            </a>
        </div>
    </div>
{% endblock %}