{% trans_default_domain instance.domain %}
<div class="comments gutter-margin-top gutter-margin-bottom">
    {% for comment in documents %}
        <div class="row">
            <div class="column small-2">
                <div class="user">
                    <div class="avatar" style="background:url({{ comment.getUserCreate().getAvatar()|media("xs") }}) center center no-repeat"></div>
                    <div class="name">
                        {{ comment.getUserCreate().getUsername() }}
                    </div>
                </div>
            </div>
            <div class="column small-10">
                <div class="content">
                    <div class="date">{{ comment.getDateCreate()|localizeddate('full', 'medium', app.request.locale) }}</div>
                    <div class="text">{{ comment.getDescription()|raw }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>