{% trans_default_domain instance.domain %}
<div class="row">
    <div class="column">
        {% render(path('fhm_api_workflow_status')) %}
    </div>
</div>
{% if documents %}
    <div class="steps">
        {% for document in documents %}
            <div class="step">
                <div class="color" style="{{ document.getColor() ? 'background:' ~ document.getColor() ~ ';border-color:' ~ document.getColor() : '' }}"></div>
                <div class="content">
                    <div class="title">
                        {{ document.getOrder() }} - {{ document.getName() }}
                    </div>
                    <div class="tasks">
                        {% render(path('fhm_api_workflow_step_workflow',{id:document.getId()})) %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="row">
        <div class="column">
            <div class="panel nodata">
                <p>{{ (instance.translation ~ '.front.index.nodata')|trans }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div id="wfModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div id="wfModalContent"></div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>