{% trans_default_domain instance.domain %}

<div class="statistics">
    {% for data in datas %}
        <div>
            <span class="count {{ data['code'] }}">{{ data['workflows']|length }}</span>
            <span class="title">{{ data['trans']|trans }}</span>
        </div>
    {% endfor %}
</div>