{% trans_default_domain instance.domain %}

<div id="content_data" class="partner full row">
    <div class="header">
        <div class="share"><div class="addthis_sharing_toolbox"></div></div>
    </div>
    {% if object.getLink() %}
        <a class="image hvr-grow" href="{{ object.getLink() }}" target="_blank" style="background:url('{{ object.getImage()|media('m', asset('images/default-partner.jpg')) }}') center center no-repeat"></a>
    {% else %}
        <div class="image" style="background:url('{{ object.getImage()|media('m', asset('images/default-partner.jpg')) }}') center center no-repeat"></div>
    {% endif %}
    <div class="separator"></div>
    <div class="content">{{ object.getContent()|raw }}</div>
</div>