{% trans_default_domain instance.domain %}

<div class="card card-embed card-embed-tabs">
    <ul class="tabs" data-tab>
        {% for category in documents %}
            <li class="tab-title {{ loop.index0 == 0 ? 'active' : '' }}">
                <a href="#tab{{ category.getId() }}" class="tabs-title" data-image="{{ category.getImage()|media('s') }}"><span>{{ category.getName() }}</span></a></li>
        {% endfor %}
    </ul>
    <div class="tabs-content">
        {% for category in documents %}
            {% include category.getMenu() ? "::FhmCard/Template/Embed/Tabs/menu.html.twig" : "::FhmCard/Template/Embed/Tabs/inline.html.twig" %}
        {% endfor %}
    </div>
</div>