{% extends 'base.html.twig' %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('homepage') }}">
            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
        </a>
    </li>
{% endblock %}
{% block main %}
    <div id="sidebar" class="col-sm-3">
        <h1> Menu </h1>
        {% block sidebar %} {% endblock %}
    </div>
    <div id="main-admin" class="col-sm-9">
        {{ include('default/_flash_messages.html.twig') }}

        {% block main_admin %} {% endblock %}
    </div>
{% endblock %}

