{% trans_default_domain instance.domain %}

<div id="content_data" class="news full row">
    <div class="header">
        <div class="date">{{ object.getDateStart() ? object.getDateStart()|localizeddate('short', 'none', app.request.locale) : object.getDateCreate()|localizeddate('short', 'none', app.request.locale) }}</div>
        <div class="share"><div class="addthis_sharing_toolbox"></div></div>
    </div>
    <img class="image" src="{{ object.getImage()|media("xxl",asset('images/default-news.jpg')) }}" alt="">
    <div class="resume">{{ object.getResume()|raw }}</div>
    <div class="content">{{ object.getContent()|raw }}</div>
</div>