{% trans_default_domain instance.domain %}

<ul class="ingredient list-icon text-left">
    {% for ingredient in ingredients %}
        <li class="{{ ingredient.getForward() ? 'ingredient-forward' : '' }}"><i class="fa fa-fw fa-check"></i>{{ ingredient.getName() }}</li>
    {% endfor %}
</ul>