{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_product') }}" class="button small"><i class="fa fa-cutlery"></i> {{ ('product.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}
