{% trans_default_domain instance.domain %}
<div class='data'>
    <a href="#" media-tag="{{ object.getId() }}" title="{{ object.getName() }}">
        <span class="name">
            {{ object.getName() }}
        </span>
        <span class="icon" style="{{ object.getColor() ? "background-color:" ~ object.getColor() ~ ";" : "" }}">
            {% if object.getPrivate() %}
                <i class="fa fa-lock"></i>
            {% else %}
                <i class="fa fa-tag"></i>
            {% endif %}
        </span>
    </a>
</div>