{% trans_default_domain instance.domain %}

{% if demo is defined %}
    <nav class="nav-right">
        <ul>
            <li>
                <a href="#anchor-schedules">Horaires et plan d'accès</a>
            </li>
            <li>
                <a href="#anchor-testimony">Témoignages</a>
            </li>
        </ul>
    </nav>
{% endif %}