{% trans_default_domain instance.domain %}

{% if demo is defined %}
    <nav class="nav-left">
        <ul>
            <li>
                <a href="#anchor-service">Produits et services</a>
            </li>
            <li>
                <a href="#anchor-product">Offres commerciales</a>
            </li>
        </ul>
    </nav>
{% endif %}