{% trans_default_domain instance.domain %}

{% if demo is defined %}
    <div class="menu-side-overlay"></div>
    <div class="menu-side-content">
        <a href="#" class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('project_home') }}">Accueil</a>
                </li>
                <li>
                    <a href="#anchor-about">A propos</a>
                </li>
                <li>
                    <a href="#anchor-card">Notre carte</a>
                </li>
                <li>
                    <a href="#anchor-testimony">Témoignages</a>
                </li>
                <li>
                    <a href="#anchor-contact">Nous contacter</a>
                </li>
            </ul>
        </nav>
    </div>
{% else %}
    <div class="menu-side-overlay"></div>
    <div class="menu-side-content">
        <a href="#" class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
        <nav class="nav-left">
            <ul>
                {% for branch in tree.branchs %}
                    <li>
                        <a href="{{ branch.getRoute() }}">{{ branch.getName() }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endif %}
