{% trans_default_domain instance.domain %}

{% if demo is defined %}
    <nav class="nav-left">
        <ul>
            <li>
                <a href="#anchor-about">A propos</a>
            </li>
            <li>
                <a href="#anchor-card">Notre carte</a>
            </li>
        </ul>
    </nav>
{% else %}
    <nav class="nav-left">
        <ul>
            {% for branch in tree.branchs %}
                <li>
                    <a href="{{ branch.getRoute() }}">{{ branch.getName() }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}