{% trans_default_domain instance.domain %}

{% if demo is defined %}
    <div class="wrap-mask"></div>
    <div class="device-menu-wrap">
        <div class="device-menu">
            <a href="#" class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
            <nav>
                <ul>
                    <li>
                        <a href="{{ path('project_home') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="#">Produits et services</a>
                    </li>
                    <li>
                        <a href="#">Offres commerciales</a>
                    </li>
                    <li>
                        <a href="#">Horaires et plan d'accès</a>
                    </li>
                    <li>
                        <a href="#">Témoignages</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
