{% trans_default_domain instance.domain %}
{% extends "::ajax.html.twig" %}

{% block content %}
    <input type="hidden" id="FhmAdd_module" name="FhmAdd[module]" value="{{ module }}">
    <label for="FhmAdd_data" class="required">{{ (instance.translation ~ '.admin.detail.menu.add.form.data')|trans }}</label>
    <select id="FhmAdd_data" name="FhmAdd[data]" required="required">
        {% for data in datas %}
            <option value="{{ data.getId() }}">{{ data.getName() }}</option>
        {% endfor %}
    </select>

{% endblock %}