{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/detail.html.twig" %}
{% import "::Macros/dd.list.html.twig" as macroList %}

{% block content_data %}
    {{ parent() }}
    <div class="row">
        {{
        macroList.admin
        (
            document,
            slider1,
            slider2,
            '',
            'fhm_admin_slider_item_slider',
            (instance.translation ~ '.admin.detail.slider.title')|trans,
            (instance.translation ~ '.admin.detail.slider.list1')|trans,
            (instance.translation ~ '.admin.detail.slider.list2')|trans,
            2,
            instance,
            'fhm_admin_slider'
        )
        }}
    </div>
{% endblock %}