//
// Fonts
//
$font-title: "BodegaSerifLight", sans-serif;
$font-subtitle: "Stalemate", cursive, sans-serif;
$font-body: "Open Sans", sans-serif;

//
// Colors
//
$primary-color: #A32921;
$secondary-color: #E7E7E7;
$alert-color: #F04124;
$success-color: #43AC6A;
$warning-color: #F08A24;
$info-color: #A0D3E8;
$light-grey: #E7E7E7;
$medium-grey: #A5A5A5;
$dark-grey: #313131;

//
// Body
//
$body-bg: $white;
$body-font-color: #7B7B7B;
$body-font-family: $font-body;

//
// Menu
//
$menu-large-height: 150px;
$menu-small-height: 70px;
$menu-sticky-height: 70px;
