.article{
    .article-list{
        li{
            height:  250px;
            padding: 5px;
            margin:  0;
            .item{
                height: 100%;
                .front{
                    background-size:     cover !important;
                    background-position: center center !important;
                    background-repeat:   no-repeat !important;
                    background-color:    $white !important;
                    height:              100%;
                    .caption{
                        position:   absolute;
                        bottom:     0;
                        left:       0;
                        right:      0;
                        background: rgba($black, 0.5);
                        padding:    20px;
                        text-align: center;
                        h2{
                            display:     block;
                            color:       $white;
                            font-size:   $font-size-list-title;
                            font-weight: bold;
                        }
                        h3{
                            @include font-subtitle();
                            display:   block;
                            color:     $white;
                            font-size: $font-size-list-subtitle;
                        }
                    }
                }
                .back{
                    height:           100%;
                    background-color: $primary-color;
                    color:            $white;
                    padding:          1rem;
                    text-align:       center;
                    h2{
                        @include font-title();
                        display:       block;
                        color:         $white;
                        font-size:     $font-size-list-title;
                        margin-bottom: 1rem;
                    }
                    p{
                        text-align: justify;
                        font-size:  0.8em;
                        height:     90px;
                        overflow:   hidden;
                    }
                    .more{
                        margin:     0;
                        background: $white;
                        color:      $primary-color;
                    }
                }
            }
        }
    }
    &.full{
        .header{
            @include logo('brown', false);
            text-align: center;
        }
        .content{
            @include logo('brown', false);
            padding:    1rem 0;
            text-align: justify;
        }
    }
    .nodata{
        text-align: center;
        margin:     1rem 0;
    }
    @media #{$medium}{
    }
    @media #{$large}{
    }
}