.contact{
    .separator{
        @include logo('brown');
        margin: 3rem 0;
    }
    .profile-list{
        text-align: center;
        margin:     0;
        > li{
            display: inline-block;
            margin:  1rem;
            padding: 0;
            float:   none;
            .item{
                width:  250px;
                height: auto;
                .left{
                    display:          block;
                    position:         relative;
                    background-size:  contain !important;
                    background-color: $primary-color !important;
                    width:            100%;
                    height:           100px;
                }
                .right{
                    display:    block;
                    width:      100%;
                    background: $dark-grey;
                    padding:    1rem 0;
                    h3{
                        @include logo('white', false);
                        color:         $white;
                        font-size:     1.2em;
                        margin-bottom: 10px;
                        span{
                            @include font-body();
                            display:        block;
                            font-size:      0.6em;
                            color:          $light-grey;
                            text-transform: uppercase;
                        }
                    }
                    a[href^="mailto:"], a[href^="tel:"]{
                        color: $white;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                    a[href^="tel:"]{
                        @include font-title();
                    }
                    .social-bar{
                        margin-top: 10px;
                        ul{
                            li{
                                a{
                                    width:       25px;
                                    height:      25px;
                                    line-height: 25px;
                                    font-size:   1em;
                                }
                            }
                        }
                    }
                }
                @media #{$medium} {
                    width:  400px;
                    height: 250px;
                    .left{
                        display: inline-block;
                        width:   40%;
                        height:  100%;
                    }
                    .right{
                        display: inline-block;
                        width:   60%;
                        height:  100%;
                    }
                }
                @media #{$large} {
                }
            }
        }
    }
    .map-container{
        height:     auto;
        clear:      both;
        background: $dark-grey;
        overflow:   auto;
        header{
            padding:       0 !important;
            margin-bottom: 0.5rem;
            h4{
                @include css3-prefix(transition, all 2s ease);
                @include logo('white', false);
                color:          $white;
                font-size:      1.2em;
                font-weight:    700;
                text-transform: none;
                margin:         0;
            }
        }
        .contact-left{
            padding: 2rem 1rem;
            section{
                margin-bottom: 2rem;
                .schedules{
                    padding: 0;
                    .day{
                        color:         $white;
                        padding:       5px 0;
                        font-size:     0.8em;
                        line-height:   1em;
                        border-bottom: 1px solid lighten($dark-grey, 5%);
                    }
                }
                a[href^="mailto:"], a[href^="tel:"]{
                    font-size: 1em;
                    color:     $white;
                    &:hover{
                        color: $primary-color;
                    }
                }
                a[href^="tel:"]{
                    @include font-title();
                }

            }
        }
        .contact-right{
            position: relative;
            padding:  0;
            .map{
                height: 650px;
            }
            header{
                position:   absolute;
                bottom:     1rem;
                left:       20%;
                right:      20%;
                width:      auto !important;
                padding:    1rem !important;
                margin:     0 !important;
                background: rgba($dark-grey, 0.8);
                color:      $white;
                text-align: center;
                h4{
                    @include logo('white', false);
                }
                p{
                    margin-top:    0.5rem;
                    margin-bottom: 0;
                }
            }
        }
        .contact-form{
            display: inline-block;
            clear:   both;
            padding: 2rem;
            width:   100%;
            .recaptcha{
                display: inline-block;
            }
            label{
                color: $light-grey;
            }
            textarea{
                height: 200px;
            }
        }
        @media #{$medium} {
        }
        @media #{$large} {
            .contact-left{
                padding: 2rem;
            }
            .contact-right{
            }
        }
    }
    &.home{
        @include css3-prefix(box-shadow, 0 30px 120px 0 rgba($black, 0.25));
        .map-container{
            height:   650px;
            overflow: hidden;
        }
    }
}