// Must be 100% for off canvas to work
html, body{
    height: 100%;
}

// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after{
    @include box-sizing(border-box);
}

// Default body styles
body{
    @include font-body();
    @include box-sizing(border-box);
    background:  $body-bg;
    color:       $body-font-color;
    padding:     0;
    margin:      0;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style:  $body-font-style;
    font-size:   14px;
    line-height: 28px;
    position:    relative;
    cursor:      $cursor-auto-value;
}

// Title
h1, h2, h3, h4, h5{
    @include font-title();
    &.subtitle{
        @include font-subtitle();
    }
}

.fullwidth{
    width: 100%;
}

a:hover{
    cursor: $cursor-pointer-value;
}

// Grid Defaults to get images and embeds to work properly
img{
    max-width: 100%;
    height:    auto;
}

img{
    -ms-interpolation-mode: bicubic;
}

.row{
    max-width: 1200px;
    &.full-width{
        max-width: 100%;
    }
}

.default-button{
    border:         none;
    background:     $primary-color;
    border-radius:  43px;
    color:          $white;
    display:        inline-block;
    font-weight:    500;
    font-size:      11px;
    height:         45px;
    line-height:    45px;
    padding-left:   50px;
    padding-right:  50px;
    text-transform: uppercase;
}

.nopadding{
    padding: 0;
}

.no-padding-top{
    padding-top: 0 !important;
}

#map_canvas,
.map_canvas{
    img,
    embed,
    object{
        max-width: none !important;
    }
}

// Miscellaneous useful HTML classes
.left{
    float: left !important;
}

.right{
    float: right !important;
}

.clearfix{
    @include clearfix;
}

// Hide visually and from screen readers
.hide{
    display: none;
}

// Hide visually and from screen readers, but maintain layout
.invisible{
    visibility: hidden;
}

// Font smoothing
// Antialiased font smoothing works best for light text on a dark background.
// Apply to single elements instead of globally to body.
// Note this only applies to webkit-based desktop browsers and Firefox 25 (and later) on the Mac.
.antialiased{
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Get rid of gap under images by making them display: inline-block; by default
img{
    display:        inline-block;
    vertical-align: middle;
}

//
// Global resets for forms
//

// Make sure textarea takes on height automatically
textarea{
    height:     auto;
    min-height: 50px;
}

// Make select elements 100% width by default
select{
    width: 100%;
}

//
// Tools
//

.reset-margin{
    margin: 0 !important;
}

.reset-margin-bottom{
    margin-bottom: 0 !important;
}

.reset-margin-top{
    margin-top: 0 !important;
}

.reset-margin-right{
    margin-right: 0 !important;
}

.reset-margin-left{
    margin-left: 0 !important;
}

.gutter-margin{
    margin: $column-gutter !important;
}

.gutter-margin-top{
    margin-top: $column-gutter !important;
}

.gutter-margin-bottom{
    margin-bottom: $column-gutter !important;
}

.gutter-margin-right{
    margin-right: $column-gutter !important;
}

.gutter-margin-left{
    margin-left: $column-gutter !important;
}

.reset-padding{
    padding: 0 !important;
}

.reset-padding-bottom{
    padding-bottom: 0 !important;
}

.reset-padding-top{
    padding-top: 0 !important;
}

.reset-padding-right{
    padding-right: 0 !important;
}

.reset-padding-left{
    padding-left: 0 !important;
}

.gutter-padding{
    padding: $column-gutter !important;
}

.gutter-padding-top{
    padding-top: $column-gutter !important;
}

.gutter-padding-bottom{
    padding-bottom: $column-gutter !important;
}

.gutter-padding-right{
    padding-right: $column-gutter !important;
}

.gutter-padding-left{
    padding-left: $column-gutter !important;
}

.align-center{
    display: block;
    margin:  0 auto;
}

// GRID

[class*="block-grid-"]{
    &.block-centered{
        text-align: center;
        font-size:  0;
        > li{
            float:   none;
            display: inline-block;
        }
    }
}

// SOCIAL BAR

.social-bar{
    ul{
        margin:     0;
        text-align: center;
        li{
            display: inline-block;
            float:   none;
            margin:  0 0.2rem;
            a{
                @include border-radius(1000px);
                display:     inline-block;
                width:       45px;
                height:      45px;
                line-height: 45px;
                text-align:  center;
                background:  $medium-grey;
                color:       $white;
                font-size:   1.5em;
                &.facebook{
                    background-color: $color-social-facebook;
                }
                &.twitter{
                    background-color: $color-social-twitter;
                }
                &.google{
                    background-color: $color-social-google;
                }
                &.instagram{
                    background-color: $color-social-instagram;
                }
                &.youtube{
                    background-color: $color-social-youtube;
                }
                &.flux{
                    background-color: $color-social-flux;
                }
                &:hover{
                    background: $primary-color;
                    color:      $white;
                }
            }
        }
    }
}