.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 0;
  clear: both;
  cursor: pointer;
  padding:7px 30px 0 5px;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  height: 38px;
  outline: none;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999;
    z-index: 2;
  }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    @include css3-prefix(transform, scale(1) translateY(-10%));
    //-webkit-transform: scale(1) translateY(0);
    //    -ms-transform: scale(1) translateY(0);
    //        transform: scale(1) translateY(0);
    z-index: 9;
    @include css3-prefix(tranform-origin, 50% 50%);
    @include css3-prefix(transition, all 0.3s ease-in-out);
  }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 0px;
    margin-top: 4px;
    box-shadow: 0 15px 45px 0 rgba(0,0,0,0.2);
    opacity: 0;
    overflow: hidden;
    max-height:200px;
    overflow-y: scroll;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: -35px;
    left: 0;
    @include css3-prefix(transform-origin, 50% 0);
    @include css3-prefix(transform, scale(0.75) translateY(-21px));
    z-index: 9;
    @include css3-prefix(tranform-origin, 50% 50%);
    @include css3-prefix(transition, all 0.3s ease-in-out);
    &::-webkit-scrollbar-track {
      background:#fff;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      height:3px;
      background:#c0c0c0;
    }
  }
  .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    font-size: 13px;
    color:#28262b;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #e7e7e7;
  }
  .nice-select .option.selected {
      //font-weight: bold;
  }
  .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default;
  }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }
