@media only screen and (max-width: 1280px) {
    body{
        .menu-list-wrap{
            .large-6{
                width: 100%;
            }
            .columns{
                &:nth-child(even){
                    .menu-list{
                        .food-detail{
                            float: left;
                        }
                    }
                }
            }
            &:nth-child(odd){
                .columns{
                    &:nth-child(odd){
                        .menu-list{
                            .food-detail{
                                float: right;
                            }
                        }
                    }
                    &:nth-child(even){
                        .menu-list{
                            .food-image{
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 799px) {
    body{
        .row-wrapper{
            &.two-cols{
                padding-left:  20px;
                padding-right: 20px;
            }
        }
        .three-cols{
            height: auto;
        }
        .tabs-wrap{
            .tabs-panel-wrap{
                li{
                    width: 100%;
                }
            }
        }
        .menu-list{
            height: auto;
            .food-image{
                height:        450px;
                width:         100%;
                margin-bottom: 40px;
            }
            .food-detail{
                padding-top:    40px;
                padding-bottom: 20px;
                width:          100%;
            }
        }
        .bottom-four-cols{
            .columns{
                text-align: center;
            }
        }
        .tabs-wrap{
            .tabs-list{
                display: none;
            }
            .tabs-panel-wrap{
                .tabs-panel{
                    position:   relative;
                    visibility: visible;
                    opacity:    1;
                    display:    block;
                    ul{
                        display: none;
                    }
                    .header-tab{
                        display:        block;
                        border:         1px solid #D6D6D6;
                        color:          #28262B;
                        background:     $white;
                        border-radius:  4px;
                        padding:        5px 0;
                        text-align:     center;
                        margin-bottom:  10px;
                        text-transform: uppercase;
                        font-size:      11px;
                        font-weight:    500;
                        &.active{
                            color:         $white;
                            background:    $button-color;
                            border:        none;
                            margin-bottom: 55px;
                        }
                    }
                    &.active{
                        ul{
                            display: block;
                        }
                    }
                }
            }
        }
        .time-table{
            .row{
                width: 94%;
            }
            .working-box{
                height: auto;
            }
            .table-box{
                height: auto;
            }
        }
        .row-slide{
            .syn-slider{
                .slick-slide{
                    width: 125px;
                }
            }
            .slider-for{
                width: 100%;

                .pager-right,
                .pager-left,
                .slick-prev,
                .slick-next{
                    display: none !important;
                }
            }
        }
    }
}