{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Front/detail.html.twig" %}


{% block content %}

    {# Links #}
    {% block content_link %}
        <div class="row">
            <ul class="button-group">
                {% block content_link_data %}
                    <li>
                        <a href="{{ instance.lastroute }}" class="button secondary"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                {% endblock %}
            </ul>
        </div>
    {% endblock %}

    {# Document #}
    <div id="content_data" class="row">
        <h2>{{ (instance.translation ~ '.front.detail.data.title')|trans }}</h2>
        {% block content_data_information %}
            <div class="small-8 small-centered align-center">
                <div class="category-detail-wrapper">
                    <div class="category-detail-title">
                        <h3 class="title">
                            {{ document.getName() }}
                        </h3>
                    </div>
                    <div class="category-detail-descritpion">
                        <p class="description">
                            {{ document.getDescription()|raw }}
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}