{% extends "::layout.front.html.twig" %}
{% trans_default_domain 'ProjectDefaultBundle' %}

{% block content %}
    {#<div id="container">#}
        <section id="main-content">
            <div class="row-wrapper banner-wrap">
                <div class="image-banner" data-parallax="scroll" data-image-src="/images/back12.jpg"></div>
                <div class="introduction">
                    {#<h2>Lorem ipsum dolor sit amet consectetur</h2>#}
                    {#----fancy text--------#}
                    <div class="dfd-letter-effect-wrap" id="dfd-letter-effect-5910371f93f8e">
                        <div class="dfd-letter-effect-block content   cr-animate-gen " data-animate-type="transition.expandIn">
                            <div class="dfd-letters-slideshow" data-effect="style-2" data-id="dfd-letter-effect-5910371f93f8e">
                                <div class="dfd-letter-effect dfd-slide dfd-slide--current">
                                    <h2 class="title  title-centered" style="color: #B20002;" data-bg-color="">
                                        Boucherie - Charcuterie - Traiteur - Volailles - Épicerie -  Formage - Vins
                                    </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    {#-------------end fancy text -----------#}
                    <h1>Boucherie de la Ferme des Ormes</h1>
                    <h2></h2>
                    <p class="button-wrap">
                        <a href="#">Défiler vers le bas</a>
                    </p>
                </div>
            </div>
            <div class="row-wrapper two-cols">
                <div class="row">
                    <div class="large-12 columns columns-box nopadding">
                        <div class="vc-row-wrapper clearfix">
                            <div class="image"></div>
                            <div class="info info1">
                                <div class="info-inner">
                                    <header class="head-info">
                                        <h3>Sed posuere dolor vel nulla</h3>
                                        <h2>L'ENTREPRISE</h2>
                                    </header>
                                    <p>

                                    <ul>
                                        <li></li> ANNÉE DE CRÉATION: 2016</li>
                                        <li> DIRIGEANT
                                            Jérémy CHOPIN</li>
                                        <li>Artisan Boucher
                                            Titulaire du CAP, BEP et Brevet Pro</li>

                                        <li>EFFECTIF
                                            5 personnes</li>

                                        <li>SPÉCIALITÉS
                                            Boucherie
                                            Charcuterie
                                            Traiteur</li>
                                    </ul>
                                    <p><img src="/images/sign_2.png" alt=""/></p>
                                </div>
                            </div>
                        </div>
                        <div class="vc-row-wrapper clearfix">
                            <div class="info info2">
                                <div class="info-inner">
                                    <header class="head-info">
                                        <h3>Integer sapien quam gravida</h3>
                                        <h2> SERVICES PLUS</h2>
                                    </header>
                                    <p>
                                    <ul>
                                        <li> Vaste choix de viandes 100% Française</li>
                                        <li>Excellent rapport qualité / prix</li>
                                        <li>Promos chaque jour</li>
                                        <li>Parking gratuit devant l’établissement</li>
                                        <li>Ouvert 7/7 jours</li>
                                        <li>Carte de fidélité magnétique</li>
                                        <li>10 € OFFERTES par tranche de 250 €</li>
                                    </ul>

                                    <ul>
                                        <b>LES + GUSTATIFS</b>
                                        <li>Viande 100% Française</li>
                                        <li>Viande Bovine Française</li>
                                        <li>Viande Porcine Française</li>
                                        <li>Volaille Française</li>
                                        <li>Viande de Veau Française</li>
                                        <li>Viande Ovine Française</li>
                                        <li>Porc élevé au grain</li>
                                        <li>Volaille Label Rouge</li>
                                        <li>Race Bovine Limousine</li>
                                        <li>Préparations maison</li>
                                        <li>Produits soigneusement sélectionnés</li>
                                        <li>Épicerie : principalement des produits BIO</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="image">
                            </div>
                        </div>
                    </div>
                    <div class="large-12 columns nopadding">
                        <div class="vc-row-wrapper video-box clearfix">
                            <div class="video-wrap">
                                <div class="image">
                                    <img src="/images/ferme.png" alt=""/>
                                    {#<iframe src="https://player.vimeo.com/video/122647096" width="1200" height="675"#}
                                            {#frameborder="0" title="Margarita Pizza" webkitallowfullscreen=""#}
                                            {#mozallowfullscreen="" allowfullscreen="" class="fluidvids-item"#}
                                            {#data-fluidvids="loaded"></iframe>#}
                                </div>
                            </div>
                            <div class="info info3">
                                <header class="head-info">
                                    <h3>Sed scelerisque justo vitae</h3>
                                    <h2>QUI SOMMES NOUS ?</h2>
                                </header>
                                <p>
                                    Située Route de la Charité à Bourges, la BOUCHERIE de la FERME des ORMES est un concept de boucherie global qui conjugue qualité, diversité des produits et prix bas. Vous y découvrirez une viande 100% française, préparée avec tout le savoir-faire d’un Artisan Boucher, ainsi qu’un vaste rayon épicerie majoritairement bio, et bon marché.

                                    Pour acheter au meilleur prix, la BOUCHERIE de la FERME des ORMES met chaque jour en avant une promotion sur une thématique particulière, comme par exemple le poulet rôti fermier Label Rouge à 5,90 €, chaque dimanche !

                                    La BOUCHERIE de la FERME des ORMES prépare également différents colis de viandes à des prix très avantageux, ainsi qu’une carte traiteur complète et variée.

                                    Favoriser les produits régionaux, connaître leurs éleveurs et sélectionner toutes leurs viandes, telle est la ligne de conduite de la BOUCHERIE de la FERME des ORMES pour vous garantir une qualité irréprochable, du mardi au dimanche.
                                </p>
                                <p class="button-wrap">
                                    <a href="#">En savoir plus</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-wrapper three-cols">
                <div class="parallax-image-offers" data-parallax="scroll" data-image-src="/images/back11.jpg"></div>
                <header class="header-title header-offers">
                    <h3>Commodo aliquam risus mi</h3>
                    <h2>Best offers from <em>chef</em></h2>
                </header>

                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <div class="flip-box">
                            <div class="front flip-front">
                                <img src="/images/100_0760.JPG" alt=""/>
                            </div>
                            <div class="back flip-back">
                                <div class="flip-back-content">
                                    <p>Donec finibus, mi a fermentum pharetra, diam mi semper tortor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <h4>Ricotta eggplant rolls</h4>
                            {#<p>Cras varius finibus dapibus</p>#}
                        </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <div class="flip-box">
                            <div class="front flip-front">
                                <img src="/images/100_0764.JPG" alt=""/>
                            </div>
                            <div class="back flip-back">
                                <div class="flip-back-content">
                                    <p>Donec finibus, mi a fermentum pharetra, diam mi semper tortor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <h4>Grilled salmon with clams</h4>
                            {#<p>Cras efficitur eget mollis</p>#}
                        </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <div class="flip-box">
                            <div class="front flip-front">
                                <img src="/images/100_0760.JPG" alt=""/>
                            </div>
                            <div class="back flip-back">
                                <div class="flip-back-content">
                                    <p>Donec finibus, mi a fermentum pharetra, diam mi semper tortor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <h4>Caviar crostini with lemon</h4>
                            {#<p>Suspendisse vestibulum</p>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-wrapper">
                <div class="row tabs-box">
                    <div class="large-12 columns nopadding">
                        <div class="large-12 columns nopadding">
                            <header class="header-title header-tabs gray">
                            {#<h3>Nulla scelerisque lobortis justo</h3>#}
                            <h2>Le menu</h2>
                            </header>
                            <div class="row text-center">
                                <img src="/images/traiteur1.jpg" alt=""/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row-wrapper text-center">
                <header class="header-title header-restaurant gray no-padding-top">
                    <h3>Maecenas pellentesque risus</h3>
                    <h2>Nos menus</h2>
                </header>
                <div class="tabs-wrap">
                    <img src="/images/traiteur3.jpg" alt=""/>
                </div>
            </div>
            <div class="row-wrapper time-table">
                <div class="parallax-image-shop" data-parallax="scroll" data-image-src="/images/rest2.jpg"></div>
                <div class="row">
                    <div class="large-4 columns working-box">
                        <header class="header-title no-padding-top">
                            {#<h3>Vestibulum ante ipsum primis</h3>#}
                            <h2>Horaires </h2>
                        </header>
                        <p class="day">
                            Mardi-samedi de 9h à 19h30
                        </p>
                        <p>9h:00 – 19h:30</p>
                        <p class="day">Dimanche</p>
                        <p>9h - 12h30<br/>
                        <p class="phone"> <i class="fa fa-phone" aria-hidden="true"></i> 02 48 16 87 57 </p>
                    </div>
                    <div class="large-8 columns table-box">
                        <header class="header-title gray no-padding-top">
                            {#<h3>Vulputate elit felis quis laoreet</h3>#}
                            <h2>Plan</h2>
                        </header>
                        <div class="form-box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2716.205010064458!2d2.4199603514544634!3d47.09505153106509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fa96396be92983%3A0x65e5d877410a1db7!2s199+Route+de+la+Charit%C3%A9%2C+18000+Bourges!5e0!3m2!1sfr!2sfr!4v1494592237751" width="700" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-wrapper row-slide">
                <header class="header-title header-slide gray">
                    {#<h3>Luctus ultrices posuere cubilia</h3>#}
                    <h2>Témoignages</h2>
                </header>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="slider-for">
                            <div class="slick-slide">
                                je suis satisfaite de ma 1ère visite, accueil chaleureux, que se soit avec les adultes, comme avec les enfants. je n'ai pas encore gouté leur viande, mais je pense que je ne vais pas être déçue :) je recommande volontiers :) D'ailleurs déjà fait auprès de mes amies
                            </div>
                            <div class="slick-slide">
                                Très bonne boucherie, ne changez rien! Merci
                            </div>
                            <div class="slick-slide">
                                J'ai achete un colis eco et rien à redire tout est excellent viande de trés bonne qualité accueil et conseil super endroit à conseiller
                            </div>
                            <div class="slick-slide">
                                Pourvu que cette boucherie reste longtemps rien a dire tout est parfait a part peut être le temps d attente aux heures d affluence !!!
                            </div>
                        </div>
                        <div class="syn-slider">
                            <div>
                                {#<img src="/images/user_5-135x135.jpg" alt=""/>#}
                                <p class="title">De Kristel</p>
                                <p> le 08/04/2017</p>
                            </div>
                            <div>
                                {#<img src="/images/user_3-135x135.jpg" alt=""/>#}
                                <p class="title">De Nadine</p>
                                <p>le 11/03/2017</p>
                            </div>
                            <div>
                                {#<img src="/images/user_1-135x135.jpg" alt=""/>#}
                                <p class="title">De mc</p>
                                <p> le 05/02/2017</p>
                            </div>
                            <div>
                                {#<img src="/images/user_1-135x135.jpg" alt=""/>#}
                                <p class="title">De Villemont </p>
                                <p>le 05/01/2017</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {#<div class="row-wrapper bottom-four-cols">#}
                {#<div class="row full-width four-cols-footer">#}
                    {#<div class="large-3 columns nopadding animation-top">#}
                        {#<img src="/images/11.jpg" alt=""/>#}
                    {#</div>#}
                    {#<div class="large-3 columns nopadding animation-bottom">#}
                        {#<img src="/images/22.jpg" alt=""/>#}
                    {#</div>#}
                    {#<div class="large-3 columns nopadding animation-top">#}
                        {#<img src="/images/33.jpg" alt=""/>#}
                    {#</div>#}
                    {#<div class="large-3 columns nopadding animation-bottom">#}
                        {#<img src="/images/44.jpg" alt=""/>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </section>
    {#</div>#}
{% endblock %}