{% extends "::layout.front.html.twig" %}
{% trans_default_domain 'ProjectDefaultBundle' %}

{% block content %}
<div id="container">
    <header id="header" class="sticky">
        <div class="logo-device">
            <a href="#"><img src="/images/logo1.png" alt=""/></a>
        </div>
        <div class="menu-icon-wrap">
            <a href="#" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <nav class="nav-left">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Produits et services</a>
                    <ul class="menu-depth-1 sub-menu">
                        <li class="has-submenu">
                            <a href="#">Layout variants</a>
                            <ul class="menu-depth-2 nest-menu-depth sub-menu">
                                <li>
                                    <a href="#">Layout variants</a>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Layout variants</a>
                                    <ul class="menu-depth-3 nest-menu-depth sub-menu">
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Layout variants</a>
                                </li>
                                <li>
                                    <a href="#">Layout variants</a>
                                </li>
                                <li>
                                    <a href="#">Layout variants</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Layout variants</a>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Layout variants</a>
                            <ul class="menu-depth-2 nest-menu-depth sub-menu">
                                <li>
                                    <a href="#">Layout variants</a>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Layout variants</a>
                                    <ul class="menu-depth-3 nest-menu-depth sub-menu">
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                        <li>
                                            <a href="#">Layout variants</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Layout variants</a>
                                </li>
                                <li>
                                    <a href="#">Layout variants</a>
                                </li>
                                <li>
                                    <a href="#">Layout variants</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Layout variants</a>
                        </li>
                        <li>
                            <a href="#">Layout variants</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Offres commerciales</a>
                </li>

            </ul>
        </nav>
        <div class="logo-wrap">
            <a href="#" class="logo"><img src="/images/logo1.png" alt=""/></a>
        </div>
        <nav class="nav-right">
            <ul>
                <li>
                    <a href="#">Gallery</a>
                </li>
                <li>
                    <a href="#">Horraires et plan d'accès</a>
                </li>
                <li>
                    <a href="#">Témoignages</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="main-content">
        <div class="row-wrapper banner-wrap">
            <div class="image-banner" data-parallax="scroll" data-image-src="/images/back12.jpg"></div>
            <div class="introduction">
                {#<h2>Lorem ipsum dolor sit amet consectetur</h2>#}
                {#----fancy text--------#}
                <div class="dfd-letter-effect-wrap" id="dfd-letter-effect-5910371f93f8e">
                    <div class="dfd-letter-effect-block content   cr-animate-gen " data-animate-type="transition.expandIn">
                        <div class="dfd-letters-slideshow" data-effect="style-2" data-id="dfd-letter-effect-5910371f93f8e">
                            <div class="dfd-letter-effect dfd-slide dfd-slide--current">
                                <h2 class="title  title-centered" style="color: #ffffff;" data-bg-color="">
                                    Boucherie - Carcuterie - Traiteur - Volailles - Épicerie -  Formage - Vins
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
                {#-------------end fancy text -----------#}
                <h1>Boucherie de la Ferme des Ormes</h1>
                <h2></h2>
                <p class="button-wrap">
                    <a href="#">Scroll Down</a>
                </p>
            </div>
        </div>
        <div class="row-wrapper two-cols">
            <div class="row">
                <div class="large-12 columns columns-box nopadding">
                    <div class="vc-row-wrapper clearfix">
                        <div class="image"></div>
                        <div class="info info1">
                            <div class="info-inner">
                                <header class="head-info">
                                    <h3>Sed posuere dolor vel nulla</h3>
                                    <h2>L'ENTREPRISE</h2>
                                </header>
                                <p>

                                <ul>
                                    <li></li> ANNÉE DE CRÉATION:2016</li>
                                    <li> DIRIGEANT
                                        Jérémy CHOPIN</li>
                                    <li>Artisan Boucher
                                        Titulaire du CAP, BEP et Brevet Pro</li>

                                    <li>EFFECTIF
                                        5 personnes</li>

                                    <li>SPÉCIALITÉS
                                        Boucherie
                                        Charcuterie
                                        Traiteur</li>
                                </ul>
                                </p>
                                <p><img src="/images/sign_2.png" alt=""/></p>
                            </div>
                        </div>
                    </div>
                    <div class="vc-row-wrapper clearfix">
                        <div class="info info2">
                            <div class="info-inner">
                                <header class="head-info">
                                    <h3>Integer sapien quam gravida</h3>
                                    <h2> SERVICES PLUS</h2>
                                </header>
                                <p>
                                <ul>
                                    <li> Vaste choix de viandes 100% Française</li>
                                    <li>Excellent rapport qualité / prix</li>
                                    <li>Promos chaque jour</li>
                                    <li>Parking gratuit devant l’établissement</li>
                                    <li>Ouvert 7/7 jours</li>
                                    <li>Carte de fidélité magnétique</li>
                                    <li>10 € OFFERTES par tranche de 250 €</li>
                                </ul>

                                <ul>
                                    <b>LES + GUSTATIFS</b>
                                    <li>Viande 100% Française</li>
                                    <li>Viande Bovine Française</li>
                                    <li>Viande Porcine Française</li>
                                    <li>Volaille Française</li>
                                    <li>Viande de Veau Française</li>
                                    <li>Viande Ovine Française</li>
                                    <li>Porc élevé au grain</li>
                                    <li>Volaille Label Rouge</li>
                                    <li>Race Bovine Limousine</li>
                                    <li>Préparations maison</li>
                                    <li>Produits soigneusement sélectionnés</li>
                                    <li>Épicerie : principalement des produits BIO</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                        <div class="image">
                        </div>
                    </div>
                </div>
                <div class="large-12 columns nopadding">
                    <div class="vc-row-wrapper video-box clearfix">
                        <div class="video-wrap">
                            <div class="image">
                                <iframe src="https://player.vimeo.com/video/122647096" width="1200" height="675"
                                        frameborder="0" title="Margarita Pizza" webkitallowfullscreen=""
                                        mozallowfullscreen="" allowfullscreen="" class="fluidvids-item"
                                        data-fluidvids="loaded"></iframe>
                            </div>
                        </div>
                        <div class="info info3">
                            <header class="head-info">
                                <h3>Sed scelerisque justo vitae</h3>
                                <h2>QUI SOMMES NOUS ?</h2>
                            </header>
                            <p>
                                Située Route de la Charité à Bourges, la BOUCHERIE de la FERME des ORMES est un concept de boucherie global qui conjugue qualité, diversité des produits et prix bas. Vous y découvrirez une viande 100% française, préparée avec tout le savoir-faire d’un Artisan Boucher, ainsi qu’un vaste rayon épicerie majoritairement bio, et bon marché.

                                Pour acheter au meilleur prix, la BOUCHERIE de la FERME des ORMES met chaque jour en avant une promotion sur une thématique particulière, comme par exemple le poulet rôti fermier Label Rouge à 5,90 €, chaque dimanche !

                                La BOUCHERIE de la FERME des ORMES prépare également différents colis de viandes à des prix très avantageux, ainsi qu’une carte traiteur complète et variée.

                                Favoriser les produits régionaux, connaître leurs éleveurs et sélectionner toutes leurs viandes, telle est la ligne de conduite de la BOUCHERIE de la FERME des ORMES pour vous garantir une qualité irréprochable, du mardi au dimanche.
                            </p>
                            <p class="button-wrap">
                                <a href="#">En savoir plus sur nous</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-wrapper three-cols">
            <div class="parallax-image-offers" data-parallax="scroll" data-image-src="/images/back11.jpg"></div>
            <header class="header-title header-offers">
                <h3>Commodo aliquam risus mi</h3>
                <h2>Best offers from <em>chef</em></h2>
            </header>


            <div class="row">
                <div class="large-4 medium-4 columns">
                    <div class="flip-box">
                        <div class="front flip-front">
                            <img src="/images/eda1.jpg" alt=""/>
                        </div>
                        <div class="back flip-back">
                            <div class="flip-back-content">
                                <p>Donec finibus, mi a fermentum pharetra, diam mi semper tortor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Ricotta eggplant rolls</h4>
                        <p>Cras varius finibus dapibus</p>
                    </div>
                </div>
                <div class="large-4 medium-4 columns">
                    <div class="flip-box">
                        <div class="front flip-front">
                            <img src="/images/eda2.jpg" alt=""/>
                        </div>
                        <div class="back flip-back">
                            <div class="flip-back-content">
                                <p>Donec finibus, mi a fermentum pharetra, diam mi semper tortor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Grilled salmon with clams</h4>
                        <p>Cras efficitur eget mollis</p>
                    </div>
                </div>
                <div class="large-4 medium-4 columns">
                    <div class="flip-box">
                        <div class="front flip-front">
                            <img src="/images/eda3.jpg" alt=""/>
                        </div>
                        <div class="back flip-back">
                            <div class="flip-back-content">
                                <p>Donec finibus, mi a fermentum pharetra, diam mi semper tortor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Caviar crostini with lemon</h4>
                        <p>Suspendisse vestibulum</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-wrapper">
            <div class="row tabs-box">
                <div class="large-12 columns nopadding">
                    {#<header class="header-title header-tabs gray">#}
                        {#<h3>Nulla scelerisque lobortis justo</h3>#}
                        {#<h2>Discover our exclusive menu</h2>#}
                    {#</header>#}
                    <div class="tabs-wrap">
                        <img src="/images/logo2.jpg" alt=""/>

                        {#<div class="tabs-list">#}
                            {#<ul>#}
                                {#<li class="active">#}
                                    {#<a href="#">Main dishes</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Starter</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Drinks</a>#}
                                {#</li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<div class="tabs-panel-wrap">#}
                            {#<div class="tabs-panel active">#}
                                {#<a href="#" class="header-tab active">Main dishes</a>#}
                                {#<ul>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_1-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Meatball tagliatelle</span><span class="price">$21</span></h4>#}
                                            {#<p>Pellentesque habitant morbi tristique</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_3-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Garden salad</span><span class="price">$9</span></h4>#}
                                            {#<p>Ut sapien sem, posuere sed nibh quis</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_2-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Asparagus spaghetti</span><span class="price">$17</span></h4>#}
                                            {#<p>Netus et malesuada fames ac turpis egestas</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_5-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Caesar salad</span><span class="price">$11</span></h4>#}
                                            {#<p>Aliquam at vestibulum urna, vitae tincidunt</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food3-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Pasta bolognese</span><span class="price">$19</span></h4>#}
                                            {#<p>Cum sociis natoque penatibus et magnis</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_6-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Nicoise salad</span><span class="price">$10</span></h4>#}
                                            {#<p>Fusce vitae dui iaculis leo porta ultrices</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_4-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Roasted vegetables penne</span><span class="price">$19</span>#}
                                            {#</h4>#}
                                            {#<p>Pellentesque placerat turpis turpis eget</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_7-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Greek salad</span><span class="price">$19</span></h4>#}
                                            {#<p>Etiam fermentum justo nec auctor pretium</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div class="tabs-panel">#}
                                {#<a href="#" class="header-tab">Starter</a>#}
                                {#<ul>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_1-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Meatball tagliatelle</span><span class="price">$21</span></h4>#}
                                            {#<p>Pellentesque habitant morbi tristique</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_3-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Garden salad</span><span class="price">$9</span></h4>#}
                                            {#<p>Ut sapien sem, posuere sed nibh quis</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_2-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Asparagus spaghetti</span><span class="price">$17</span></h4>#}
                                            {#<p>Netus et malesuada fames ac turpis egestas</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_5-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Caesar salad</span><span class="price">$11</span></h4>#}
                                            {#<p>Aliquam at vestibulum urna, vitae tincidunt</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div class="tabs-panel">#}
                                {#<a href="#" class="header-tab">Drinks</a>#}
                                {#<ul>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_1-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Meatball tagliatelle</span><span class="price">$21</span></h4>#}
                                            {#<p>Pellentesque habitant morbi tristique</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_3-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Garden salad</span><span class="price">$9</span></h4>#}
                                            {#<p>Ut sapien sem, posuere sed nibh quis</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_2-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Asparagus spaghetti</span><span class="price">$17</span></h4>#}
                                            {#<p>Netus et malesuada fames ac turpis egestas</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="thumb-wrap">#}
                                            {#<img src="/images/food_5-701x701.jpg" alt=""/>#}
                                        {#</div>#}
                                        {#<div class="text-wrap">#}
                                            {#<h4><span>Caesar salad</span><span class="price">$11</span></h4>#}
                                            {#<p>Aliquam at vestibulum urna, vitae tincidunt</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-wrapper">
            <header class="header-title header-restaurant gray no-padding-top">
                <h3>Maecenas pellentesque risus</h3>
                <h2>Enjoy restaurant’s specialties</h2>
            </header>
            <div class="row menu-list-wrap full-width menu-list-first">
                <div class="small-12 large-6 columns nopadding">
                    <div class="menu-list">
                        <div class="food-image">
                            <img src="/images/pasta1.jpg" alt=""/>
                        </div>
                        <div class="food-detail">
                            <span class="title-animation-left">MALESUADA LACUS</span>
                            <div class="food-detail-ifo-left">
                                <h4>Classic spaghetti <span>with fresh dark opal basil</span></h4>
                                <p>Fusce a tellus tellus. Praesent neque arcu, efficitur sit amet libero vulputate,
                                    dignissim malesuada ipsum.</p>
                                <p class="price">$16,45</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-12 large-6 columns nopadding">
                    <div class="menu-list">
                        <div class="food-detail">
                            <span class="title-animation-left">ULTRICES DIAM NEC</span>
                            <div class="food-detail-ifo-left">
                                <h4>Melon, proscuitto<span>and mozzarella with basil</span></h4>
                                <p>Sed faucibus odio dui, eget bibendum augue porta eu. Nulla facilisi. Sed pellentesque
                                    viverra metus.</p>
                                <p class="price">$19,95</p>
                            </div>
                        </div>
                        <div class="food-image">
                            <img src="/images/hamon1.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row menu-list-wrap full-width menu-list-second">
                <div class="small-12 large-6 columns nopadding">
                    <div class="menu-list">
                        <div class="food-detail">
                            <span class="title-animation-right">NIBH VIVERRA ENIM</span>
                            <div class="food-detail-ifo-right">
                                <h4>Pasta bolognese<span>with roasted cherry tomatoes</span></h4>
                                <p>In fringilla justo nec lorem malesuada, et accumsan neque lacinia. Aliquam erat
                                    volutpat.</p>
                                <p class="price">$19,95</p>
                            </div>
                        </div>
                        <div class="food-image">
                            <img src="/images/pasta-1.jpg" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="small-12 large-6 columns nopadding">
                    <div class="menu-list">
                        <div class="food-image">
                            <img src="/images/butiki.jpg" alt=""/>
                        </div>
                        <div class="food-detail">
                            <span class="title-animation-right">ID CONSEQUAT METUS</span>
                            <div class="food-detail-ifo-right">
                                <h4>Crostini canapés with<span>ricotta, meat and vegetables</span></h4>
                                <p>Integer sodales volutpat velit, eu semper enim finibus sit amet. Nulla eget quam
                                    bibendum.</p>
                                <p class="price">$13,95</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bottom-three-cols">
                <div class="large-4 columns">
                    <h3 class="grocery">Organic grocery</h3>
                    <p class="sub-title">Nam maximus tellus varius</p>
                    <p>Sed faucibus odio dui, eget bibendum augue porta eu. Nulla facilisi. Sed pellentesque viverra
                        metus.</p>
                    <p class="readmore">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </p>
                </div>
                <div class="large-4 columns">
                    <h3 class="wine">Private winery</h3>
                    <p class="sub-title">Integer sodales volutpat velit</p>
                    <p>Eu semper enim finibus sit amet. Nulla eget quam bibendum, dictum enim eu, malesuada
                        lacus.</p>
                    <p class="readmore">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </p>
                </div>
                <div class="large-4 columns">
                    <h3 class="recipes">Classic recipes</h3>
                    <p class="sub-title">Mollis nibh est viverra enim</p>
                    <p>Sed in commodo elit. Vestibulum feugiat accumsan justo nec ultricies. Nulla non ex vel neque
                        accumsan aliquet.</p>
                    <p class="readmore">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row-wrapper time-table">
            <div class="parallax-image-shop" data-parallax="scroll" data-image-src="/images/rest2.jpg"></div>
            <div class="row">
                <div class="large-4 columns working-box">
                    <header class="header-title no-padding-top">
                        <h3>Vestibulum ante ipsum primis</h3>
                        <h2>Working hours</h2>
                    </header>
                    <p class="day">Monday – Friday</p>
                    <p>9:00 am – 2:00 pm (breakfast, lunch)<br/>
                        4:00 pm-10:00pm (dinner)</p>
                    <p class="day">Saturday – Sunday</p>
                    <p>10:00 am – 3:00 pm (breakfast, lunch)<br/>
                        6:00 pm-12:00pm (dinner)</p>
                    <p class="phone">0(658) 567-43-21</p>
                </div>
                <div class="large-8 columns table-box">
                    <header class="header-title gray no-padding-top">
                        <h3>Vulputate elit felis quis laoreet</h3>
                        <h2>Table reservations</h2>
                    </header>
                    <div class="form-box">
                        {#<div class="row form-wrap">#}
                        {#<div class="larg-6 columns">#}
                        {##}
                        {#</div>#}
                        {#</div>#}
                        <ul class="form-wrap">
                            <li>
                                <input type="text" name="txtdate" placeholder="Select date" class="datepicker"/>
                            </li>
                            <li>
                                <select name="select-time" class="select-time">
                                    <option data-display="select" value="Select time">Select time</option>
                                    <option value="8pm">8pm</option>
                                    <option value="9pm">9pm</option>
                                    <option value="10pm">10pm</option>
                                    <option value="11pm">11pm</option>
                                    <option value="12pm">12pm</option>
                                    <option value="1am">1am</option>
                                    <option value="2am">2am</option>
                                    <option value="3am">3am</option>
                                    <option value="4am">4am</option>
                                    <option value="5am">5am</option>
                                    <option value="6am">6am</option>
                                    <option value="7am">7am</option>
                                    <option value="8am">8am</option>
                                    <option value="9am">9am</option>
                                    <option value="10am">10am</option>
                                    <option value="11am">11am</option>
                                </select>
                            </li>
                            <li>
                                <select name="select-person" class="select-time">
                                    <option value="Select persons">Select persons</option>
                                    <option value="1-2 persons">1-2 persons</option>
                                    <option value="3-5 persons">3-5 persons</option>
                                    <option value="5-7 persons">5-7 persons</option>
                                    <option value="7-10 persons">7-10 persons</option>
                                    <option value="Banquet">Banquet</option>
                                </select>
                            </li>
                            <li>
                                    <span class="border-input">
                                        <input class="input-border" type="text" name="txtname" placeholder="Name"/>
                                    </span>
                            </li>
                            <li class="full-width">
                                    <span class="border-input">
                                        <textarea class="input-border" name="txtmessage" placeholder="Message"></textarea>
                                    </span>
                            </li>
                        </ul>
                        <div class="button-box">
                            <input type="submit" name="submit" value="Send Message"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-wrapper row-slide">
            <header class="header-title header-slide gray">
                <h3>Luctus ultrices posuere cubilia</h3>
                <h2>Some words from our visitors</h2>
            </header>
            <div class="row">
                <div class="large-12 columns">
                    <div class="slider-for">
                        <div class="slick-slide">Ut iaculis ligula arcu, sit amet efficitur elit rutrum at. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Maecenas lacinia consectetur nibh, a ultricies turpis blandit sit amet. Duis ac metus in
                            lacus elementum imperdiet sodales sed ex. Curabitur convallis eget leo a sagittis.
                        </div>
                        <div class="slick-slide">Ut iaculis ligula arcu, sit amet efficitur elit rutrum at. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Maecenas lacinia consectetur nibh, a ultricies turpis blandit sit amet. Duis ac metus in
                            lacus elementum imperdiet sodales sed ex. Curabitur convallis eget leo a sagittis.
                        </div>
                        <div class="slick-slide">Ut iaculis ligula arcu, sit amet efficitur elit rutrum at. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Maecenas lacinia consectetur nibh, a ultricies turpis blandit sit amet. Duis ac metus in
                            lacus elementum imperdiet sodales sed ex. Curabitur convallis eget leo a sagittis.
                        </div>
                    </div>
                    <div class="syn-slider">
                        <div>
                            <img src="/images/user_5-135x135.jpg" alt=""/>
                            <p class="title">Mark Stephenson</p>
                            <p>Mauris quis facilisis mi</p>
                        </div>
                        <div>
                            <img src="/images/user_3-135x135.jpg" alt=""/>
                            <p class="title">Mark Stephenson</p>
                            <p>Mauris quis facilisis mi</p>
                        </div>
                        <div>
                            <img src="/images/user_1-135x135.jpg" alt=""/>
                            <p class="title">Mark Stephenson</p>
                            <p>Mauris quis facilisis mi</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row-wrapper bottom-four-cols">
            <div class="row full-width four-cols-footer">
                <div class="large-3 columns nopadding animation-top">
                    <img src="/images/11.jpg" alt=""/>
                </div>
                <div class="large-3 columns nopadding animation-bottom">
                    <img src="/images/22.jpg" alt=""/>
                </div>
                <div class="large-3 columns nopadding animation-top">
                    <img src="/images/33.jpg" alt=""/>
                </div>
                <div class="large-3 columns nopadding animation-bottom">
                    <img src="/images/44.jpg" alt=""/>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
{% endblock %}