@mixin card-title() {
    position:   relative;
    padding:    2rem 0;
    text-align: center;
    span{
        position:       relative;
        display:        table;
        text-transform: uppercase;
        text-align:     center;
        padding:        0 1em;
        margin:         auto;
        background:     $white;
        color:          $primary-color;
    }
    &:before{
        position:      absolute;
        top:           50%;
        left:          0;
        width:         100%;
        content:       "";
        border-bottom: 2px solid $primary-color;
    }
}

@mixin card-description() {
    font-size:  0.8em;
    padding:    1rem 0;
    text-align: center;
}

.card{
    .product{
        .product-inline{
            margin: 0;
            li{
                overflow-x: hidden;
                padding:    0.3em 0;
                .name{
                    padding-right: 0.3em;
                    background:    $white;
                }
                .price{
                    float:        right;
                    padding-left: 0.3em;
                    background:   $white;
                }
                .actions-bar{
                    float:        right;
                    padding-left: 1rem;
                    background:   $white;
                }
                .ingredient{
                    display:   block;
                    font-size: 0.8em;
                    float:     left;
                    position:  relative;
                    width:     100%;
                    color:     $grey-BB;
                }
                &:before{
                    float:       left;
                    width:       0;
                    white-space: nowrap;
                    color:       $gainsboro;
                    content:     ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
                }
            }
        }
        .product-forward{
            text-align: center;
            li{
                display: inline-block;
                float:   none;
                padding: 0.3em;
                height:  200px;
                .content{
                    @include border-radius(5px);
                    position:        relative;
                    height:          100%;
                    background-size: cover !important;
                    border:          2px solid $primary-color;
                    overflow:        hidden;
                    .name{
                        position:   absolute;
                        bottom:     0;
                        left:       0;
                        background: $secondary-color;
                        color:      $white;
                        padding:    0.5em;
                        width:      100%;
                        text-align: center;
                        font-size:  0.8em;
                    }
                    .price{
                        @include border-radius-separate(0, 0, 5px, 0);
                        position:   absolute;
                        top:        0;
                        right:      0;
                        background: $primary-color;
                        color:      $white;
                        padding:    0.1em 0.5em;
                        text-align: center;
                        font-size:  1.2em;
                    }
                    .ingredient-content{
                        @include transition(all, .4s, ease);
                        position:   absolute;
                        background: $secondary-color;
                        color:      $white;
                        bottom:     -100px;
                        left:       0;
                        width:      100%;
                        height:     100%;
                        opacity:    0;
                        text-align: center;
                        padding:    1em;
                        .title{
                            display:        block;
                            text-transform: uppercase;
                            border-bottom:  1px solid $white;
                            padding-bottom: 1rem;
                            margin-bottom:  1rem;
                            &:before{
                                display: none;
                            }
                        }
                        .ingredient{
                            display:   block;
                            font-size: 0.8em;
                            color:     $white;
                        }
                    }
                    &:hover{
                        .ingredient-content{
                            opacity: 1;
                            bottom:  0;
                        }
                    }
                }
            }
        }
        &.menu{
            .product-inline{
                li{
                    text-align: center;
                    &:before{
                        display: none;
                    }
                }
            }
            .product-forward{
                li{
                    height: 100px;
                    .content{
                        .name{
                            font-size: 0.6em;
                        }
                        .ingredient-content{
                            .title{
                                font-size: 0.6em;
                                padding:   0;
                                margin:    0;
                                border:    none;
                            }
                        }
                    }
                }
            }
        }
    }
    .category{
        width:  90%;
        margin: auto;
        .category-title{
            @include card-title();
            span{
                font-size: 1.2em;
                color:     $secondary-color;
            }
            &:before{
                border-bottom: 1px solid $secondary-color;
            }
        }
        .category-description{
            @include card-description();
        }
        &.menu{
            width:  100%;
            margin: 1rem auto;
            .bloc{
                @include border-radius(5px);
                border:   4px solid $black;
                padding:  1rem;
                overflow: auto;
                .bloc-title{
                    position:   relative;
                    margin:     1rem auto;
                    padding:    1rem 0;
                    text-align: center;
                    .name{
                        text-transform: uppercase;
                        color:          $primary-color;
                    }
                    .price{
                        font-size: 2em;
                        color:     $primary-color;
                    }
                    &:before{
                        position:      absolute;
                        bottom:        0;
                        left:          25%;
                        width:         50%;
                        content:       "";
                        border-bottom: 1px solid $primary-color;
                    }
                }
                .title{
                    padding: 1rem 0;
                }
            }
            @media #{$medium} {
                width: 75%;
            }
            @media #{$large} {
                width: 50%;
            }
        }
    }
    &.card-editor{
        .editor-tabs{
            text-align: center;
            li{
                display: inline-block;
                float:   none;
                margin:  0.3rem;
                padding: 0;
                a{
                    @include border-radius(5px);
                    padding:        0.2rem 0.5rem;
                    text-align:     center;
                    text-transform: uppercase;
                    font-size:      0.6em;
                    background:     none;
                    color:          $black;
                    &.active{
                        background: $secondary-color;
                        color:      $white;
                        &.preview{
                            background: $warning-color;
                            color:      $white;
                        }
                    }
                    &.preview{
                        color: $warning-color;
                    }
                }
            }
            @media #{$medium} {
                li{
                    margin: 0.6rem;
                    a{
                        padding:   0.3rem 2rem;
                        font-size: 0.8em;
                    }
                }
            }
            @media #{$large} {
                li{
                    margin: 1rem;
                    a{
                        padding:   0.4rem 2rem;
                        font-size: 1em;
                    }
                }
            }
        }
        .editor-content{
            margin:   0 0 20px 0;
            padding:  20px;
            overflow: auto;
            border:   1px solid $secondary-color;
            .dd-tree{
                margin:  0;
                padding: 0;
                border:  none;
            }
            .editor-list{
                padding:       1rem;
                margin-bottom: 1rem;
                border:        1px solid $secondary-color;
                .nodata{
                    text-align: center;
                    font-size:  0.8em;
                    color:      $secondary-color;

                }
                .counter{
                    text-align: right;
                    font-size:  0.8em;
                    color:      $secondary-color;
                }
                #editor-search{
                    ul{
                        margin:     0;
                        max-height: 300px;
                        overflow-y: auto;
                        li{
                            border:        1px solid $secondary-color;
                            padding:       0.2em 0.5em;
                            margin-bottom: 2px;
                            font-size:     0.8em;
                            overflow:      auto;
                            &:hover{
                                background: $smoke;
                            }
                            .editor-search-status{
                                display: inline-block;
                            }
                            .editor-search-actions{
                                display:     inline-block;
                                margin-left: 0.3rem;
                            }
                        }
                    }
                }
            }
            .column{
                padding: 0;
            }
            .description{
                text-align: center;
            }
            @media #{$medium} {
                .editor-list{
                    margin-right: 1rem;
                }
            }
            @media #{$large} {
            }
        }
        .editor-actions{
            .actions{
                text-align: center;
                a{
                    @include border-radius(50%);
                    display:     inline-block;
                    margin:      0.5rem 2px;
                    width:       30px;
                    height:      30px;
                    line-height: 30px;
                    font-size:   1em;
                    text-align:  center;
                    background:  $secondary-color;
                    color:       $white;
                    &.icon-add{
                        position: relative;
                        &:after{
                            @include border-radius(50%);
                            position:    absolute;
                            right:       0;
                            bottom:      0;
                            font-family: FontAwesome;
                            content:     $fa-var-plus;
                            width:       15px;
                            height:      15px;
                            line-height: 15px;
                            font-size:   0.6em;
                            text-align:  center;
                            background:  $secondary-color;
                            color:       $white;
                        }
                    }
                }
            }
            .status{
                text-align: center;
            }
            @media #{$medium} {
                .actions{
                    a{
                        margin:      0.5rem 5px;
                        width:       50px;
                        height:      50px;
                        line-height: 50px;
                        font-size:   1.8em;
                        &.icon-add{
                            &:after{
                                width:       20px;
                                height:      20px;
                                line-height: 20px;
                                font-size:   0.5em;
                            }
                        }
                    }
                }
                .status{
                }
            }
        }
    }
    &.card-embed{
        &.card-embed-tabs{
            .tabs{
                display: table;
                margin:  auto;
                padding: 1rem 0;
                li{
                    margin:  0.5rem !important;
                    padding: 0 !important;
                }
                .tab-title{
                    .tabs-title{
                        @include card-title();
                        padding:    0;
                        color:      $white;
                        background: none;
                        span{
                            padding:    .4rem 2rem;
                            color:      $black;
                            background: none;
                        }
                        &:before{
                            display: none;
                        }
                    }
                    &.active{
                        @include border-radius(5px);
                        background:   $secondary-color;
                        border-color: $secondary-color;
                        span{
                            color: $white;
                        }
                    }
                }
            }
            .tabs-content{
                .content{
                    margin:  0;
                    padding: 0;
                    &.menu{
                        @include border-radius(5px);
                        border:  1px solid $secondary-color;
                        padding: 1rem;
                        margin:  auto;
                        width:   75%;
                        .title{
                            margin-bottom: 1rem;
                            .price{
                                text-align: center;
                                font-size:  2em;
                            }
                            .description{
                                text-align: center;
                                color:      $secondary-color;
                            }
                        }

                    }
                }
            }
        }
        &.card-embed-accordion{
            .accordion{
                li{
                    border-bottom: 1px solid $white;
                    .accordion-title{
                        position:       relative;
                        text-align:     center;
                        text-transform: uppercase;
                        background:     $secondary-color;
                        color:          $white;
                        &:after{
                            position:    absolute;
                            display:     block;
                            padding:     1rem;
                            right:       1rem;
                            top:         0;
                            width:       30px;
                            height:      30px;
                            line-height: 30px;
                            content:     $fa-var-caret-down;
                            font-family: "fontawesome";
                            color:       $white;
                        }
                        &:hover{
                            background: $primary-color;
                        }
                    }
                    .accordion-content{
                        padding: 1rem 0;
                        &.menu{
                            @include border-radius(5px);
                            border:  1px solid $secondary-color;
                            padding: 1rem;
                            .title{
                                margin-bottom: 1rem;
                                .price{
                                    text-align: center;
                                    font-size:  2em;
                                }
                                .description{
                                    text-align: center;
                                    color:      $secondary-color;
                                }
                            }

                        }
                    }
                    &.active{
                        .accordion-title{
                            background: $primary-color;
                            color:      $white;
                            &:after{
                                content: $fa-var-caret-up;
                            }
                        }
                    }
                }
            }
        }
        &.card-embed-inline{
            .inline-title{
                text-align:     center;
                text-transform: uppercase;
                background:     $primary-color;
                color:          $white;
                font-size:      1rem;
                padding:        1rem;
                margin:         1rem 0;
            }
            .inline-description{

            }
        }
    }
    &.category{
        &.route{
            width:     100%;
            font-size: 0.8em;
            .separator{
                color:   $white;
                padding: 0 0.5em;
                &.master{
                    color:   $white;
                    padding: 0 1em;
                }
            }
        }
    }

}

#modal-editor{
    .loader{
        padding:    5rem;
        text-align: center;
        font-size:  5em;
        color:      $smoke;
    }
}