.historic{
    .compare{
        background:    $success-color;
        color:         $white;
        border-radius: 50%;
        width:         40px;
        height:        40px;
        line-height:   40px;
        text-align:    center;
        font-size:     1em;
        font-weight:   bold;
        margin:        auto;
        &:before{
            font-family: 'FontAwesome';
            content:     $fa-var-check;
        }
        &.warning{
            background: $warning-color;
            &:before{
                content: $fa-var-times;
            }
        }
        &.no-icon{
            &:before{
                content: '';
            }
        }
        &.disabled{
            opacity: 0.1;
        }
    }
    .header{
        padding:       1rem 0;
        border-bottom: 2px solid $secondary-color;
        .title{
            text-transform: uppercase;
            font-size:      1.3em;
            font-weight:    bold;
            color:          $primary-color;
        }
        .date{
            font-size: 0.8em;
            color:     $iron;
        }
        .counter{
            color:     $success-color;
            font-size: 1.4em;
            &.warning{
                color: $warning-color;
            }
        }
        .filter{
            display:    inline-block;
            color:      $iron;
            margin-top: 5px;
            div{
                float:        left;
                line-height:  20px;
                font-size:    0.8em;
                margin-right: 3px;
                &.compare{
                    width:        20px;
                    height:       20px;
                    line-height:  20px;
                    margin-right: 3px;
                    font-size:    0.6em;
                    cursor:       pointer;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .action{
        padding:       1rem 0;
        border-bottom: 2px solid $secondary-color;
        a{
            display: inline-block;
            margin:  auto;
        }
    }
    .body{
        background: rgba($success-color, 0.1);
        margin:     30px auto;
        padding:    20px;
        .title{
            background:     $white;
            color:          $base;
            padding:        0.5em;
            text-align:     center;
            text-transform: uppercase;
            font-size:      0.8em;
            font-weight:    bold;
            margin-bottom:  2px;
        }
        .content{
            background: $white;
            padding:    1em;
            font-size:  0.8em;
            overflow:   auto;
            .nodata{
                text-align: center;
                font-size:  0.8em;
                color:      $iron;
            }
        }
        &.warning{
            background: rgba($warning-color, 0.1);
        }
    }
}