.mappicker
{
    margin-bottom: 20px;
    .map
    {
        width:   200px;
        height:  200px;
        padding: 10px;
        &.france_region
        {
            width:  200px;
            height: 200px;
            &.admin
            {
                width:  400px;
                height: 400px;
            }
        }
        &.france_domtom
        {
            width:  200px;
            height: 100px;
            &.admin
            {
                width:  400px;
                height: 200px;
            }
        }
    }
    .zones
    {
        position:    relative;
        display:     block;
        box-sizing:  border-box;
        margin:      0;
        padding:     20px;
        border:      1px solid $gainsboro;
        list-style:  none;
        font-size:   0.875rem;
        line-height: 30px;
        .add
        {
            position: relative;
            margin:   0 0 10px 0;
            padding:  0;
            height:   70px;
            a
            {
                float:            left;
                margin:           0 10px 0 0;
                width:            70px;
                height:           70px;
                line-height:      70px;
                background-color: $primary-color;
                text-align:       center;

                color:            $white;
                font-size:        40px;
                transition:       background-color 50ms ease-out;

                &:hover
                {
                    background: #007095;
                }
            }
        }
        table
        {
            margin-bottom: 0;
        }
    }
}

.jvectormap-container
{
    width:    100%;
    height:   100%;
    position: relative;
    overflow: hidden;
}
.jvectormap-tip
{
    position:      absolute;
    display:       none;
    border:        solid 1px $iron;
    border-radius: 3px;
    background:    $grey-29;
    color:         $white;
    font-family:   sans-serif, Verdana;
    font-size:     smaller;
    padding:       3px;
    z-index:       9999;
}
.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback
{
    display: none
}